html {
  box-sizing: border-box;
}

*,*::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.context-shots {
  width: 90%;
}

.hero {
  display: grid;
}

.hero-picture {
  width: min(50%, 300px);
}